<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/img/barangay-logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/alert.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/census.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/navbar') %> <%- include('../partials/success') %>
    <%- include('../partials/error') %> <% if(user.verificationStatus ==
    'verified' && !user.answeredCensus) { %>
    <main class="main-form">
      <div class="title">
        <h1>Household Census</h1>
        <p>
          Fill in the data for all the people that currently lives in your
          household. (except you)
        </p>
      </div>
      <form action="/user/census" method="post">
        <div class="personContainer">
          <div class="group">
            <div class="form-control">
              <label>Name:</label>
              <input
                type="text"
                name="people[1][name]"
                required
                data-name
                placeholder="John Doe"
              />
            </div>
            <div class="form-control">
              <label>Birthday:</label>
              <input
                type="date"
                data-birthday
                required
                class="birthdays"
                name="people[1][birthday]"
              />
            </div>
          </div>

          <div class="group">
            <div class="form-control">
              <label>Educational Attainment:</label>
              <select name="people[1][education]" required data-education>
                <option value="elementary">Elementary</option>
                <option value="high school">High School</option>
                <option value="college">College</option>
              </select>
            </div>

            <div class="form-control">
              <label>Marital Status:</label>
              <select
                name="people[1][maritalStatus]"
                required
                data-maritalStatus
              >
                <option value="single">Single</option>
                <option value="married">Married</option>
                <option value="divorced">Divorced</option>
                <option value="separated">Separated</option>
                <option value="widowed">Widowed</option>
              </select>
            </div>
          </div>
          <div class="group">
            <div class="form-control">
              <label>Relationship to Him/Her:</label>
              <select name="people[1][relationship]" required data-relationship>
                <option value="father">Father</option>
                <option value="mother">Mother</option>
                <option value="sibling">Sibling</option>
                <option value="relative">Relative</option>
                <option value="partner">Partner</option>
                <option value="child">Child</option>
              </select>
            </div>
            <div class="form-control">
              <label>Gender:</label>
              <div class="separator">
                <label class="male">Male</label>
                <input
                  type="radio"
                  name="people[1][gender]"
                  required
                  value="male"
                  data-gender
                />
              </div>
              <div class="separator">
                <label class="female">Female</label>
                <input
                  type="radio"
                  name="people[1][gender]"
                  required
                  value="female"
                  data-gender
                />
              </div>
            </div>
          </div>
          <div class="group">
            <div class="form-control">
              <label>Vaccine Dosage</label>
              <select
                name="people[1][vaccineDosage]"
                required
                data-vaccineDosage
              >
                <option value="0">Not Vaccinated</option>
                <option value="1">1st Dose</option>
                <option value="2">2nd Dose</option>
              </select>
            </div>

            <div class="form-control">
              <label>Vaccine Name</label>
              <select name="people[1][vaccineName]" required data-vaccineName>
                <option value="0">Not Vaccinated</option>
                <option value="pfizer">Pfizer</option>
                <option value="janssen">Janssen</option>
                <option value="astrazenica">Astrazenica</option>
                <option value="coronavac">Coronavac</option>
                <option value="sinopharm">Sinopharm</option>
                <option value="moderna">Moderna</option>
              </select>
            </div>
          </div>

          <div class="group">
            <div class="form-control">
              <label>Booster Dosage</label>
              <select
                name="people[1][boosterDosage]"
                required
                data-boosterDosage
              >
                <option value="0">No Booster Shot</option>
                <option value="1">1st Booster Shot</option>
                <option value="2">2nd Booster Shot</option>
              </select>
            </div>

            <div class="form-control">
              <label>Booster Name</label>
              <select name="people[1][boosterName]" required data-boosterName>
                <option value="0">No Booster Shot</option>
                <option value="pfizer">Pfizer</option>
                <option value="janssen">Janssen</option>
                <option value="astrazenica">Astrazenica</option>
                <option value="coronavac">Coronavac</option>
                <option value="sinopharm">Sinopharm</option>
                <option value="moderna">Moderna</option>
              </select>
            </div>
          </div>

          <div class="group" style="margin-bottom: 0">
            <div class="form-control">
              <label for="occupationDropdown">Occupation</label>
              <select
                data-occupation
                required
                name="people[1][occupation]"
                class="occupationDropdown"
                style="margin-bottom: 1rem"
                onchange="showOther(this)"
              >
                <option value="">--Select an option--</option>
                <option value="ge">Government Employee</option>
                <option value="pe">Private Employee</option>
                <option value="ue">Unemployed</option>
                <option value="st">Student</option>
                <option value="ofw">OFW</option>
                <option value="other">Other</option>
              </select>

              <div class="otherField" style="display: none">
                <label for="other">Enter other option:</label>
                <input type="text" oninput="updateOption(this)" />
              </div>
            </div>
            <div class="form-control">
              <label for="religionDropdown">Religion</label>
              <select
                required
                data-religion
                name="people[1][religion]"
                class="religionDropdown"
                style="margin-bottom: 1rem"
                onchange="showOther(this)"
              >
                <option value="">--Select an option--</option>
                <option value="Roman Catholic">Roman Catholic</option>
                <option value="Iglesia Ni Cristo">Iglesia Ni Cristo</option>
                <option value="Born Again">Born Again</option>
                <option value="Islam">Islam</option>
                <option value="other">Other</option>
              </select>

              <div class="otherField" style="display: none">
                <label for="other">Enter other option:</label>
                <input type="text" oninput="updateOption(this)" />
              </div>
            </div>
          </div>

          <div class="group" style="margin-bottom: 0">
            <div class="form-control">
              <label for="nonCommunicableDisease"
                >Non Communicable Disease</label
              >
              <select
                required
                data-nonCommunicableDisease
                name="people[1][nonCommunicableDisease]"
                class="nonCommunicableDisease"
                style="margin-bottom: 1rem"
              >
                <option value="">--Select an option--</option>
                <option value="0">Not Applicable</option>
                <option value="Cardiovascular Disease">
                  Cardiovascular Disease
                </option>
                <option value="Diabetes">Diabetes</option>
                <option value="Preventable Cancers">Preventable Cancers</option>
                <option value="Chronic Respiratory Disease">
                  Chronic Respiratory Disease
                </option>
                <option value="Mental Health Condition">
                  Mental Health Condition
                </option>
                <option value="Injuries">Injuries</option>
              </select>
            </div>
            <div class="form-control">
              <label for="pwdDropdown">Disability: </label>
              <select
                required
                data-disability
                name="people[1][disability]"
                class="pwdDropdown"
                style="margin-bottom: 1rem"
              >
                <option value="">--Select an option--</option>
                <option value="0">Not Applicable</option>
                <option value="Psychosocial Disability">
                  Psychosocial Disability
                </option>
                <option value="Chronic Illness">Chronic Illness</option>
                <option value="Learning Disability">Learning Disability</option>
                <option value="Mental Disability">Mental Disability</option>
                <option value="Visual Disability">Visual Disability</option>
                <option value="Orthopedic Disability">
                  Orthopedic Disability
                </option>
                <option value="Communication Disability">
                  Communication Disability
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-control buttons">
          <button type="button" class="add">Add Field &plus;</button>
          <button type="button" class="minus">Remove Field &minus;</button>
        </div>
        <button type="submit" class="submit">Submit</button>
      </form>
    </main>
    <% } else if(user.answeredCensus && user.verificationStatus == 'verified'){
    %>
    <main class="main-thanks">
      <h1 class="thanks-title">Thanks for Participating.</h1>
      <p class="thanks-subtitle">
        You've completed this census. <span class="check">&checkmark;</span>
      </p>
      <img src="/img/thanks.svg" alt="" />
    </main>
    <% } else if(user.verificationStatus == 'pending') {%>
    <main class="main-pending">
      <h1 class="pending-title">Awaiting Approval</h1>
      <p class="pending-subtitle">
        Please wait for the admin to verify your Identity before answering
        census.
      </p>
      <img src="/img/wait.svg" alt="" />
    </main>
    <% } else if(user.verificationStatus == 'unverified'){%>
    <main class="main-pending">
      <h1 class="pending-title">Submit Identity Verification</h1>
      <p class="pending-subtitle">
        Submit Identity verification before answering the census.
      </p>
      <img src="/img/pending.svg" alt="" />
    </main>
    <% } %>

    <script src="/js/loginDropdown.js"></script>
    <script src="/js/inputGenerate.js"></script>
    <script>
      const birthdays = document.querySelectorAll(".birthdays");

      for (birthday of birthdays) {
        birthday.max = new Date().toLocaleDateString("en-ca");
      }
    </script>

    <script>
      const vaccineDosageTag = document.querySelector("[data-vaccineDosage]");
      const vaccineNameTag = document.querySelector("[data-vaccineName]");
      const boosterDosageTag = document.querySelector("[data-boosterDosage]");
      const boosterNameTag = document.querySelector("[data-boosterName]");

      vaccineDosageTag.addEventListener("change", () => {
        if (vaccineDosageTag.value === "0") {
          vaccineNameTag.disabled = true;
          boosterDosageTag.disabled = true;
          boosterNameTag.disabled = true;
          vaccineNameTag.options[0].selected = true;
          boosterDosageTag.options[0].selected = true;
          boosterNameTag.options[0].selected = true;
        } else if (vaccineDosageTag.value === "1") {
          vaccineNameTag.disabled = false;
          boosterDosageTag.disabled = true;
          boosterNameTag.disabled = true;
        } else if (vaccineDosageTag.value === "2") {
          vaccineNameTag.disabled = false;
          boosterDosageTag.disabled = false;
          boosterNameTag.disabled = false;
        }
      });

      // Disable boosterDosage and boosterNameTag initially
      vaccineNameTag.disabled = true;
      boosterDosageTag.disabled = true;
      boosterNameTag.disabled = true;

      function showOther(element) {
        var selectedValue = element.options[element.selectedIndex].value;
        var otherField = element.nextElementSibling;
        console.log(selectedValue);
        if (element.className == "religionDropdown") {
          if (
            selectedValue == "Roman Catholic" ||
            selectedValue == "Iglesia Ni Cristo" ||
            selectedValue == "Born Again" ||
            selectedValue == "Islam"
          ) {
            console.log("inside");
            element.options[element.length - 1].value = "other";
            element.options[element.length - 1].innerHTML = "Other";
          }
        } else if (element.className == "occupationDropdown") {
          console.log("occupation");
          if (
            selectedValue == "pe" ||
            selectedValue == "ge" ||
            selectedValue == "ofw" ||
            selectedValue == "st" ||
            selectedValue == "ue"
          ) {
            console.log("inside");
            element.options[element.length - 1].value = "other";
            element.options[element.length - 1].innerHTML = "Other";
          }
        }
        if (selectedValue == "other") {
          otherField.style.display = "block";
        } else {
          otherField.style.display = "none";
        }
      }

      function updateOption(element) {
        var selectBox = element.parentElement.previousElementSibling;
        var otherOption = selectBox.options[selectBox.length - 1];

        if (element.value.trim() != "") {
          otherOption.value = element.value.trim();
          otherOption.innerHTML = element.value.trim();
        }
      }
    </script>
  </body>
</html>
